.background{
    background-image: url(../../assets/pexels-lady-escabia-3199399.jpg);
    height: 500px;
    background-position: center center;
    background-size: cover;
    text-align: center;
    h1{
        font-size: 50px;
        border-radius: 10px;
    color: white;
        display: inline;
        background-color: rgba(0, 0, 0, 0.459);
    }
}