<header class="header1 container-fluid">
    <h1 class="display-1 fondo">IN LAK ECH</h1>
</header>
<section class="container-fluid section">
    <div class="row " style="text-align: center;">
       
    <div class="col-sm-4 apartado " style="background-color: rgb(81, 96, 124); "><h1 >Filosofía</h1> <p>¿Y no es por el aprendizaje y por la práctica (que son ambos movimientos) por lo que el alma adquiere sus conocimientos, preservera su adecuada disposición y se hace mejor, mientras que, debido al reposo, como es la falta de prácrica y de cultura, no aprende nada y olvida lo que ha aprendido?</p></div>
    <div class="col-sm-4 apartado"  style="background-color: rgb(8, 39, 97); color: rgb(112, 105, 105);"><h1>Programación</h1> <p>Mi más grande pasión siempre ha sido la progrmación. Es por eso que cree este blog para poder expresar y enseñar la manera en que yo interpreto y aprendo este , tan maravilloso, y aveces complejo, mundo de la programación </p></div>
    <div class="col-sm-4 apartado"  style="background-color: rgb(81, 96, 124); "><h1>Tienda</h1> <p>Es muy importante para el ser humano la vestimenta. Y nuestro proposito es ofrecer a nuestros clientes ropa de calidad, pensando siempre en el medio ambiente, es por eso que la mayoría de nuestros productos son de fibras naturales, como el cañamo. <br>Comprometidos contigo y el medio ambiente </p></div>

<footer class="footerR col-sm-4">
    <H1>CONTACTANOS</H1>
    <ul class="redes">
        <li><a href=""><img src="./assets/facebook.png" alt="" height="60px"></a></li>
        <li><a href=""><img src="../../assets/gmail.png" alt="" height="60px"></a></li>
        <li><a href=""><img src="../../assets/instagram.png" alt="" height="60px"></a></li>   
        </ul>
</footer>
    </div>
</section>

<footer class="footerB container-fluid">
<h1>CONTACTANOS</h1>
        <ul class="redes">
        <li><a href="https://www.facebook.com/joseluis.martinezdelarosa.370"><img src="../../assets/facebook.png" alt="facebook" height="60px"></a></li>
        <li><a href=""><img src="../../assets/gmail.png" alt="gmail" height="60px"></a></li>
        <li><a href="https://www.instagram.com/shovkovsky123/?hl=es-la"><img src="../../assets/instagram.png" alt="instagram" height="60px"></a></li>   
        </ul>
    
</footer>