<body>
   <header>
       <h1 class="principal">Filosofía</h1>
   </header>

<section class="container-fluid">
    <div class="row">
<div class="btn-group-vertical btn-group-lg col-sm-4" style="height: 200px;">
    <button class="btn boton" (click)="oriental()">Oriental</button>
    <button class="btn boton" (click)="occidental()">Occidental</button>
    <button class="btn boton" (click)="ocultismo()">Ocultismo</button>
</div>
<div class="contenido col-sm-7" [style.background-color]='color'>

    <section class="parte2 contenido2" [style.display]='occidentalon'>
<h1>Occidental</h1>
<p>Occidente ha sido una cuna de muy grandes filosofos como Socrates, Nietzch, jeapaul </p>
    </section>

    <section class="parte2 contenido2" [style.display]='orientalon'>
<h1>Oriental</h1>
<p>La filosofía oriental tiene muchas ramificaciones y cada una de ellas es muy profunda.</p>
    </section>

    <section class="parte2 contenido2"  [style.display]='ocultismoon'>
        <h1>Ocultismo</h1>
        <p>Todas las filosofías están unidas por la creatividad, inteligencia y capacidad del ser humano por medir y etiquetar las cosas. Todo lo que en textos ocultistas podamos encontrar está cifrado de forma astral, y todo aquel que no pueda leer de forma astral no puede siquiera escuchar el calido e interesante misterio que envuelven los textos del ocultismo.</p>
        <h1>Kybalion</h1>
    <p>Para comenzar a sumergirte en las, intensas e interesantes, aguas del conocimiento oculto, y la filosofía en general,
        yo recomiendo empezar fuerte. El Kybalion expone los 7 aforismos de la filosofía hermetica. Después de haber leído y
        estudiado el libro muchas cosas a tu alrededor e interior se aclararan. Acontinuación te dejo con una de las
        mejores partes a mi parecer: <br>
        Aquello que es la verdad fundamental -la realidad sustancial- está más allá de toda denominación verdadera, pero los
        sabios lo llaman: EL TODO.
        En su esencia el todo es incognosicible.
        <br>
        Debe ser infinito en tiempo, o Eterno, debe haber existido siempre, continuamente, pues nada puede haberlo creado jamás, y algo no puede nunca surgir de nada, y si alguna vez no hubiera sido, aunque sólo fuera un instante, no podría ser. Debe existir por siempre, porque nada hay que pueda destruirlo, y jamás puede dejar de ser ni aun por un solo momento, porque algo nunca puede convertirse en nada.
    <br>
    Debe ser infinito en el Espacio, debe encontrarse en todas partes, porque nada existe, ni hay sitio alguno que esté más allá del TODO. No puede ser de otra manera, sino continuo y omnipresente en el espacio, sin cesación, separación o interrupción, porque no hay nada en ÉL que pueda interrumpirse, separarse o cesar en su absoluta continuidad, y nada existe tampoco que pueda «llenar las grietas.»
    
    Debe ser infinito en Poder, o Absoluto, porque nada hay que pueda limitarlo, restringirlo, confinarlo u obstaculizarlo. No está sujeto a ningún poder, porque no hay otro que el Suyo.
    <br>
    (3) EL TODO debe ser inmutable, esto es, no sujeto a cambio en su naturaleza real, porque nada existe que pueda obligarlo a cambiar, ni nada de lo que pueda haberse transformado. No puede ser aumentado ni disminuido, ni ser mayor o menor, bajo ningún aspecto. <br> Debe haber «sido» siempre, y debe seguir «siendo» siempre también, idéntico a lo que es ahora: el TODO. Nunca ha habido, ni hay, ni habrá algo en lo que pueda transformarse o cambiar.
    Siendo el TODO Infinito, Absoluto, Eterno, Inmutable, debe deducirse que todo lo que es finito, mudable, transformable y condicionado, no puede ser el TODO. Y como nada existe fuera de Él en realidad, todo lo que sea finito debe ser nada realmente. <br> No os vayáis a sorprender o asustar, porque no tratamos de embarcaros en Ciencia Cristiana, cubriendo estas enseñanzas bajo el título de Filosofía Hermética. Hay una reconciliación entre estos aparentemente contradictorios asuntos. Tened paciencia, que a todo llegaremos a su debido tiempo.
    
    <img src="./assets/pexels-roxanne-shewchuk-2184580 (1).jpg" style="float: right; height: 500px; margin: 15px;" alt="egipto">
    
    <br> Vemos en torno a nosotros eso que se llama «materia», la que constituye las bases físicas de todas las formas. ¿Es el TODO materia simplemente? Absolutamente no. La materia no puede manifestar Vida o Mentalidad, y como la mente está manifestada en el universo, el TODO no puede ser materia, pues nada asciende más allá de su propia fuente, nada puede manifestarse en un efecto si no lo está también en la causa, nada puede evolucionar o emerger como consecuente si no está involucrado o involucionado como antecedente. Y además la ciencia moderna nos dice que la materia no existe realmente, sino que es «energía o fuerza interrumpida», esto es, energía o fuerza en un grado menor de intensidad vibratoria.
    
    Como ha dicho recientemente un escritor, «la materia se sumerge en el Misterio». Aun la ciencia materialista ha abandonado la teoría de la materia y ahora descansa sobre la base de la «energía».
    
    <br> ¿Es pues, el TODO mera fuerza o energía? No. La fuerza, tal como la entiendan los materialistas, es una cosa ciega, mecánica, carente de vida o mentalidad. La vida y la mente no pueden nacer de ciega energía, por las razones dadas un momento ha: «Nada puede subir más alto que su propia fuente, nada evoluciona si no ha involucionado, nada se manifiesta en un efecto si no está en la causa.»
    
    <br> Así que el TODO no puede ser mera fuerza o energía, porque si lo fuera no existiría eso que se llama mente y vida, y ambas sabemos que existen, porque nosotros estamos vivos y estamos empleando nuestra mente en considerar esta cuestión; y en iguales condiciones se encuentran los que afirman que la energía es todo.
    
    ¿Que es lo que hay superior a la materia y a la energía, y que sepamos que existe en el Universo? ¡Vida y mente en todos sus diversos grados de desenvolvimiento! Entonces preguntaréis: ¿Queréis significar que el TODO es vida y mente? Si y no, es nuestra respuesta. <br> Si entendéis por vida y mente lo que nosotros, pobres mortales, conocemos de ellas: ¡No, el TODO no es eso! Mas ¿qué clase de vida y mentalidad significáis?, preguntaréis.
    
    La contestación es mente viviente, tan amplia como nosotros podamos concebirla, puesto que la vida y la mente son muy superiores a la fuerza puramente mecánica o a la materia. Mente infinita y viviente, si se compara con la vida y la mentalidad finitas. Queremos indicar eso que quieren significar las almas iluminadas, cuando reverentemente pronuncian la palabra: ¡ESPÍRITU!.
    
    El TODO es mente viviente e infinita, los iluminados lo llaman Espíritu.
    <br>
    <br>
    <br>
    
    Kybalion, cápitulo 4.
    <br>
    foto de  Roxanne Shewchuk
    </p>
    </section>
</div>
</div>
</section>

<section class="container-fluid parte1 contenido2">
    <h1>IN LAK ECH</h1>
    <p>Estaba pensando en algún saludo, y recorde que el nombre de mi proyecto es uno, uno muy interesante, uno que
        representa mis ideales y metas. "IN LAK ECH" era el saludo que habitualmente usaban los mayas, significa:
        yo soy otro tú. Esto se contestaba con un "hala ken", tú eres otoro yo.

        Todos somos iguales, aprender a vernos como otro igual a uno mismo y no como el rol que creemos que desempeña
        nos abre el corazón. La empatía suele ser una palabra muy comun, sin embargo yo creo que muy pocas personas
        saben del verdadero poder de está cualidad humana. La empatía es el comienzo del acceso a la unidad, pues dejas
        de ser quien eres para ser y vivir las experiencias que vive la otra persona. Si odias a tu padre, madre, tío o 
        a algún familiar, talvez el dejar de verlo como aquella persona desempeñando ese rol y comenzar a verlo como 
        una extencion de ti, tratando de alcazar la felicidad y de dejar el sufrimiento atras, la compación brotará de tu
        corazón.

        Con la esperanza de ayudarte hago este blog. Sé que hay miles de personas como yo con el mismo proposito y 
        con proyectos similares. Eso lejos de desanimarme me inspira a contribuir con un grano de arena más en está
        gran piramide del conocimiento. Puede que tú estes interesado en hacer algo parecido, pero te haga decisión,
        yo te digo que lo hagas, tú puedes, unete a esta gran causa comunitaria. Juntos podemos cruzar las puertas de oro
        e ir más alla de lo que las pariencias nos muestran. 
    </p>
</section>



<footer class="footerB container-fluid">
    <h1>CONTACTANOS</h1>
            <ul class="redes">
                <li><a href="https://www.facebook.com/joseluis.martinezdelarosa.370"><img src="../../assets/facebook.png" alt="facebook" height="60px"></a></li>
                <li><a href=""><img src="../../assets/gmail.png" alt="gmail" height="60px"></a></li>
                <li><a href="https://www.instagram.com/shovkovsky123/?hl=es-la"><img src="../../assets/instagram.png" alt="instagram" height="60px"></a></li>   
            </ul>
        
    </footer>
</body>