.principal{
    text-align: center;
    text-shadow: 3px 3px black;
    color: slateblue;
    font-size: 120px;
}
body{
    background-color: steelblue;
}
.contenido{
    border: 2px solid black;
    height: 700px;
    overflow-y: scroll;
    margin-bottom: 30px;
    h2{
        color: rgb(12, 2, 75);
        
        font-size: 60px;
    }
    text-align: justify;
}
.boton{
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 15px;
}
.boton:hover{
    background-color: slateblue;
}
.footerB{
    background-color: black;
    display: block;
    height: 300px;
}
.redes{
    transform: translate(10px, 50px);
}
li{
    float: left;
    display: block;
    margin-left: 80px ;
    height: 60px;
    width: 60px;
   
    a{
        display: block;
        width: 100%;
        height: 100%;

    }
}
@media(max-width: 425px){
    .redes{
        transform: translate(5px, 50px)
    }
    .principal{
            font-size: 70px;
    }
    .contenido{
        h2{
            font-size: 38px;
        }
        p{
            font-size: 20px;
        }
    }

    img{
        height: 40px;
    }
    li{
        margin-left: 35px;
    }
}
p{
    font-size: 30px;
}
.parte1{
    h1{
        color: darkcyan;
        text-shadow: 2px 2px blueviolet;
        font-size: 80px;
    }
    p{
        font-style: italic;
       text-align: left;
    }
    background-color: rgb(24, 69, 105);
   
}
.contenido2{
    h1{
        color: darkcyan;
        text-shadow: 2px 2px blueviolet;
        font-size: 80px;
    }
    p{
        font-style: italic;
       text-align: left;
    }
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
.parte2{
    
    
   h1{
    color: rgb(12, 2, 75);
   }
}
.facebook{
    background-image: url(../../assets/facebook.png); background-size: 60px; background-position: center center;
}
.gmail{
    background-image: url(../../assets/gmail.png); background-size: 60px; background-position: center center;
}
.instagram{
    background-image: url(../../assets/instagram.png); background-size: 60px; background-position: center center;
}